
/*for fieldset*/

#fset1{
	background-color:#FAEBD7; 
	border:0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*css For Textbox*/

#tbox1 {
	width: 221px;
	background: transparent url('/GenNext/Images/textbox.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
/*css For DropDownList*/
#ddlist1 {
	width: 221px;
	background: transparent url('/GenNext/Images/textbox.jpg') no-repeat;
	color : #747862;
	height:28px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}

/*css for text*/

#tfor
{
	color:#696969;
}

/*for links*/
#link1
{
	color:white;
	text-decoration: none
}

/*for iframes*/

#iframes1{
	background-color:#808080;
	float:left; 
	border:0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
